$white: #ffffff;
$dirty-white: #dcdcdc;

$nav-background: #082e40;
$nav-hover: #0b364a;
$nav-active: #0d4058;
$background: #e8e8e8;
$listBorder: #bbbbbb;
$buttonBackground: #0d4058;
$buttonHover: #082e40;
$buttonText: $white;
$planner-column: $white;

$header-height: 60px;
$button-height: 48px;