.top-section {
	height:        $top-menu;
	width:         100%;
	background:    $highlight;
	border-bottom: 1px solid darken($highlight, 10);

	nav {
		height: 100%;
		margin: 0 20px;

		a {
			color:       rgba($black, 0.6);
			padding:     8px 10px 8px 0;
			height:      100%;
			display:     inline-flex;
			align-items: center;
			margin:      0;

			&:before {
				padding:        10px;
				font-size:      1.5em;
				vertical-align: middle;
			}

			&:hover {
				text-transform:  none;
				text-decoration: none;
				color:           $black;
			}

			&:active, &:focus, &:visited {
				text-transform:  none;
				text-decoration: none;
			}

			&.router-link-active {
				background: rgba($light-blue, 0.6);
			}
		}
	}
}

.main-section {
	.left-section {

	}
	.middle-section {

	}
	.right-section {

	}
}