<div class="planner-header">
    <h2>{{schedule.name}}</h2>
    <div class="planner-actions">
        <button (click)="onEditDetails($event)" type="button"><md-icon>edit</md-icon><span>Edit details</span></button>
        <button (click)="onBackToList($event)" type="button"><md-icon>arrow_back</md-icon><span>Back to list</span></button>
    </div>
</div>
<div class="planner-content">
    <div class="planner-actions">
        <button (click)="onAddNewEvent($event)" type="button"><md-icon>event</md-icon><span>Add new event</span></button>
        <button (click)="onAddNewLocation($event)" type="button"><md-icon>add_location</md-icon><span>Add new location</span></button>
    </div>
    <div class="planner-view">
        <div class="column-wrapper time">
            <div class="column-header">Time</div>
            <div class="column-content">

            </div>
        </div>
        <div class="column-wrapper" *ngFor="let location of schedule.locations">
            <div class="column-header">{{location.name}}</div>
            <div class="column-content">

            </div>
        </div>
    </div>
</div>